@import url('http://fonts.cdnfonts.com/css/roboto');
@import "font-awesome";
*{
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.inline-flex{
  display: inline-flex;
}
.inline-block{
  display:inline-block;
}
.base{
  background: green;
  width: 1000px;
  border: solid blue 2px;
}
p{
  margin-bottom: 0px;
}

.base-link{
  text-decoration: none;
  color: white;
}
.base-link:hover{
  color:bisque;
}
.base-link:visited{
  color: white;
}
/* advertising class */
.container{
  background: red;
  margin-top: 0px;
  margin-left: 0px;
  margin: 0px;
}
.top-adv{
  height: 45px;
  justify-content: space-between;
  align-items: center;
  line-height: 45px;
  padding: 10px 0px 10px 0px;
}
#top-adv-button-ShopNow{
  border-radius: 30px;
  height: 40px;
  padding: 0px 35px 0px 35px;
}
#top-adv-button-Close{
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
#top-adv-text{
  margin-bottom: 0px;
}

/* ----- advertising class ---- */

/* Navbar 1 */
.navbar{
  height: 57px;
  align-items: center;
  justify-content: space-between;
}
.icon{
  width: 20px;
  align-items: center;
  margin-right: 20px;
}
#navbar-phoneNumber{
  display: inline-flex;
  align-items: center;
  line-height: 40px;
  margin-bottom: 0px;
  background: purple;
  height: 40px;
}
.vertical-line{
  border-left: 2px solid grey ;
  height: 40px;
}
.navbar-text{
  margin-bottom: 0px;
}
.sticky {
	/* background-color: #ffffff; */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 10000000;
}
/* ----- Navbar 1----- */

#header{
  height: 54;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  width: 200px;
}
#header-container-logo{
  width: 200px;
  /* background-color: yellow; */
}
#header-input-container{
  width: 570px;
  border: 2px solid grey;
  padding: 10px 0px;
  border-radius: 5px;
  align-items: center;
  display: inline-flex;
  justify-content: space-evenly;
}
#header-categories{
  width: 150px;
  background: none;
  border: none;  
}
#header-inputbox{
  width: 250px;
  background: none;
  border: none;
}
#header-button-submit{
  width: 120px;
  background: none;
  border: none;
}
#header-button-submit:hover{
  color: grey;
}



/* fine */

.slider-base{
  width: 100%;
  height: 648px;
  background-color: orange;
  display: inline-block;
  z-index: 0;
}
.slider-navbar{
  width: 100%;
  height: 50px;
  background-color: pink;
}
.center-center{
  align-items: center;
  justify-content: center;

}
#slider-categories{
  width: 150px;
  background: none;
  border: none;
}
.slider-content{
  margin-left: 350px;
  margin-top: 300px;
  z-index: 10;
}
.left{
  text-align: left;
}
.slider-button{
  margin-left: 0px;
  display: block;
}
.title{
  font-family: 'Roboto Black', sans-serif;
  margin-bottom: 2px;
  font-size: 50px;
  width: 416px;
}
.slider-img{
  width: 400px;
  margin-top: -200px;
  z-index: 2;
}
.absolute{
  position: absolute;
}
.slider-button{
  width: 120px;
  height: 35px;
  border:none;
  border-radius: 5px;
  background-color: white;
  font-family: 'Roboto Medium', sans-serif;

}
.sales-base{
  width: 300px;
  height: 150px;
  background-color: cyan;
}
#sales-banner{
  margin-top: 30px;
  justify-content: space-between;
}


/* Title */

#title-1{
  height: 60px;
  width:auto;
  line-height: 40px;
  align-items: center;
}
.title2{
  display: flex;
  width: auto;
  margin: 0px 20px;
  font-size: 50px;
}
.title-line{
  height: 1px;
  width: 50px;
}


/* Products */
.grid-products{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.container-singleProduct{
  width: 270px;
  height: 371px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 30px;
  padding: 10px;
}
.product-img{
  width:90%;
  height: auto;
}
.product-title
{
  font-size: 25px;
  margin-bottom: 10px;
}
.product-color{
  color: grey;
  
}
.product-price{
  font-size: 20px;
}

/* Footer */
.brand-img{
  width: 8%;
  height: auto;
  margin: 0 10px;
}





/* Pagina chart page */

.chart-table{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
  place-items: center;

}
.chart-product-image{
  width: 80px;
  height: 80px;
  padding: 20px;
}
#chart-product-remove{
  background-color: red;
  color:white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  transition-duration: 0.4s;
}
#chart-product-remove:hover{
  background-color: rgb(193, 0, 0);
  color:#fff; 
  font-size: 18px;
}
.chart-product-qt{
  width: 50px;
}


@media screen {
  
}